* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}

/* ----- ----- HEADER ----- ----- */
header {
	background: url('../img/bg.jpg') #49a3d6;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 600px;
}

header .menu {
	margin: 40px 0;
	text-align: center;
}

header .menu a {
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	font-size: 1em;
}

header .menu a:hover {
	border-bottom:2px solid #fff;
}

header .contenedor-texto {
	display: flex;
	justify-content:center;
	align-content:center;
	margin: 190px 0;
}

header .contenedor-texto .texto {
	border:2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .contenedor-texto .texto .nombre {
	margin-bottom: 10px;
	font-size: 50px;
	line-height: 50px;
}

header .contenedor-texto .texto .profesion {
	font-size: 25px;
	line-height: 25px;
}

article{
	background: white;
	height: 300px;
	width: 500px;
	position: absolute;
	left: 650px;
	bottom: 0px;
	text-align: justify;
}

article h3{
	text-align: center;
}

.main .acerca-de .contenedor .foto img{
	height: 300px;
	width:500px;
}

.acerca-de{
	display: inline-block;
}

.main{
	padding: 0px;
}


/* ----- ----- FOOTER ----- ----- */

footer{
	padding: 30px 
}
footer .redes-sociales {
	background: #1e2b38;
	padding: 30px 0px 0px 0px;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content:center;
}

footer .redes-sociales a {
	color: #fff;
	text-align: center;
	width: 70px;
	display: block;
	padding: 15px 0;
	border-radius: 500px;
	font-size: 30px;
	margin: 0 20px;
}

footer .redes-sociales .twitter:hover {	background: #1da1f2; }
	footer .redes-sociales .facebook:hover { background: #3b5998; }
footer .redes-sociales .youtube:hover {	background: #cd201f; }
footer .redes-sociales .instagram:hover { background: #3f729b; }

footer .copy{
	text-align: right;
	font-size: 12px;
	color: white;
}

footer p{
	margin: 0px 0px 5px 0px;
}

